postDataCarbon.json
[
    {
        "id": "b9756af6a540f49b",
        "type": "inject",
        "z": "2640bb49c7638587",
        "name": "ed1 00:30",
        "props": [],
        "repeat": "",
        "crontab": "30 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7d1b90f4e767e267"
            ]
        ]
    },
    {
        "id": "7d1b90f4e767e267",
        "type": "function",
        "z": "2640bb49c7638587",
        "name": "read file name",
        "func": "// Fungsi untuk mendapatkan file dengan last modified terbaru dikurangi satu hari\nfunction getFileWithLatestModified() {\n    const directory = '/home/pi/Desktop/data/test_eddy1/'; // Ganti dengan direktori tempat file-file CSV berada\n    const files = fs.readdirSync(directory);\n\n    let latestModifiedFile = null;\n    let latestModifiedTime = 0;\n\n    files.forEach((file) => {\n        const filePath = `${directory}/${file}`;\n        const stats = fs.statSync(filePath);\n        const modifiedTime = new Date(stats.mtime).getTime();\n        const oneDayAgo = Date.now() - (2 * 60 * 60 * 1000); // Satu hari dalam milidetik\n\n        if (modifiedTime > latestModifiedTime && modifiedTime <= oneDayAgo) {\n            latestModifiedFile = file;\n            latestModifiedTime = modifiedTime;\n        }\n    });\n\n    return latestModifiedFile;\n}\n\nmsg.filename = '/home/pi/Desktop/data/test_eddy1/' + getFileWithLatestModified();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "8409ae4ae7c377a5",
                "cf7874b3522aa965"
            ]
        ]
    },
    {
        "id": "cf7874b3522aa965",
        "type": "file in",
        "z": "2640bb49c7638587",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "0c69cd697adf4f20"
            ]
        ]
    },
    {
        "id": "8409ae4ae7c377a5",
        "type": "debug",
        "z": "2640bb49c7638587",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "0c69cd697adf4f20",
        "type": "function",
        "z": "2640bb49c7638587",
        "name": "Format the header and payload",
        "func": "msg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n}\n\n\nmsg.payload = '--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"select\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"print\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"csvFile\"; filename=\"'+msg.filename+'\"\\r\\n'+\n'Content-Type: application/octet-stream\\r\\n'+\n'\\r\\n'+\nmsg.payload+'\\r\\n'+\n'--------------------------d74496d66958873e--\\r\\n';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "9ab4c81aa4955f51"
            ]
        ]
    },
    {
        "id": "9ab4c81aa4955f51",
        "type": "http request",
        "z": "2640bb49c7638587",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.farzani.xyz/api/upCarbon1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 220,
        "wires": [
            [
                "2e7fed3a653e2bbe"
            ]
        ]
    },
    {
        "id": "2e7fed3a653e2bbe",
        "type": "debug",
        "z": "2640bb49c7638587",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "1dd213186f09553c",
        "type": "inject",
        "z": "2640bb49c7638587",
        "name": "ed2 00:50",
        "props": [],
        "repeat": "",
        "crontab": "50 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "7a2ed52ade2420b8"
            ]
        ]
    },
    {
        "id": "7a2ed52ade2420b8",
        "type": "function",
        "z": "2640bb49c7638587",
        "name": "read file name",
        "func": "// Fungsi untuk mendapatkan file dengan last modified terbaru dikurangi satu hari\nfunction getFileWithLatestModified() {\n    const directory = '/home/pi/Desktop/data/test_eddy2/'; // Ganti dengan direktori tempat file-file CSV berada\n    const files = fs.readdirSync(directory);\n\n    let latestModifiedFile = null;\n    let latestModifiedTime = 0;\n\n    files.forEach((file) => {\n        const filePath = `${directory}/${file}`;\n        const stats = fs.statSync(filePath);\n        const modifiedTime = new Date(stats.mtime).getTime();\n        const oneDayAgo = Date.now() - (2 * 60 * 60 * 1000); // Satu hari dalam milidetik\n\n        if (modifiedTime > latestModifiedTime && modifiedTime <= oneDayAgo) {\n            latestModifiedFile = file;\n            latestModifiedTime = modifiedTime;\n        }\n    });\n\n    return latestModifiedFile;\n}\n\nmsg.filename = '/home/pi/Desktop/data/test_eddy2/' + getFileWithLatestModified();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "ed9dc00cbdb0dcb1",
                "578107ca355af773"
            ]
        ]
    },
    {
        "id": "578107ca355af773",
        "type": "file in",
        "z": "2640bb49c7638587",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "a873413b85353cc8"
            ]
        ]
    },
    {
        "id": "ed9dc00cbdb0dcb1",
        "type": "debug",
        "z": "2640bb49c7638587",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "a873413b85353cc8",
        "type": "function",
        "z": "2640bb49c7638587",
        "name": "Format the header and payload",
        "func": "msg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=------------------------d74496d66958873e\"\n}\n\n\nmsg.payload = '--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"select\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"print\"\\r\\n'+\n'\\r\\n'+\n'true\\r\\n'+\n'--------------------------d74496d66958873e\\r\\n'+\n'Content-Disposition: form-data; name=\"csvFile\"; filename=\"'+msg.filename+'\"\\r\\n'+\n'Content-Type: application/octet-stream\\r\\n'+\n'\\r\\n'+\nmsg.payload+'\\r\\n'+\n'--------------------------d74496d66958873e--\\r\\n';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            [
                "cc914f7ec112c68a"
            ]
        ]
    },
    {
        "id": "cc914f7ec112c68a",
        "type": "http request",
        "z": "2640bb49c7638587",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.farzani.xyz/api/upCarbon2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "accbf0a8830d5428"
            ]
        ]
    },
    {
        "id": "accbf0a8830d5428",
        "type": "debug",
        "z": "2640bb49c7638587",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 280,
        "wires": []
    }
]
